@layer primitives {
  :root {
    --speed-instant: 0ms;
    --speed-50: 50ms;
    --speed-100: 100ms;
    --speed-150: 150ms;
    --speed-200: 200ms;
    --speed-250: 250ms;
    --speed-300: 300ms;
    --speed-350: 350ms;
    --speed-400: 400ms;
    --speed-450: 450ms;
    --speed-500: 500ms;
    --speed-600: 600ms;
    --speed-700: 700ms;
    --speed-800: 800ms;
    --speed-900: 900ms;
    --speed-1000: 1000ms;
    --speed-1s5ms: 1.5s;
  }
}
