@layer semantics {
	:root {
		--bg-color-neutral-lightest-lighter: var(--color-white-50);
		--bg-color-neutral-lightest-light: var(--color-white-100);
		--bg-color-neutral-lightest-dark: var(--color-white-200);
		--bg-color-neutral-lightest: var(--color-white-100);
		--bg-color-neutral-lighter-light: var(--color-white-200);
		--bg-color-neutral-lighter-dark: var(--color-white-300);
		--bg-color-neutral-lighter: var(--color-white-300);
		--bg-color-neutral-light: var(--color-white-400);
		--bg-color-neutral-base: var(--color-white-500);
		--bg-color-neutral-dark: var(--color-white-600);
		--bg-color-neutral-darker: var(--color-white-700);
		--bg-color-neutral-darker-light: var(--color-white-800);
		--bg-color-neutral-darker-dark: var(--color-white-900);
		--bg-color-neutral-darkest: var(--color-white-950);
		--bg-color-neutral-darkest-dark: var(--color-white-950);
		--bg-color-neutral-darkest-darker: var(--color-white-950);

		--bg-color-primary-lighter-lightest: var(--color-blue-200);
		--bg-color-primary-lighter-light: var(--color-blue-200);
		--bg-color-primary-lighter: var(--color-blue-200);
		--bg-color-primary-lighter-dark: var(--color-blue-300);
		--bg-color-primary-light: var(--color-blue-400);
		--bg-color-primary-base: var(--color-blue-500);
		--bg-color-primary-dark: var(--color-blue-600);
		--bg-color-primary-darker: var(--color-blue-700);

		/* ---------------- base & core ---------------- */
		--bg-color-base: var(--bg-color-neutral-lightest);
		--bg-color-body: var(--bg-color-neutral-lightest-dark);

		--bg-color-success-lightest-lighter: var(--color-green-200);
		--bg-color-success-lightest-light: var(--color-green-200);
		--bg-color-success-lightest: var(--color-green-200);
		--bg-color-success-lighter-dark: var(--color-green-300);
		--bg-color-success-lighter: var(--color-green-300);
		--bg-color-success-light: var(--color-green-400);
		--bg-color-success-base: var(--color-green-500);
		--bg-color-success-dark: var(--color-green-600);
		--bg-color-success-darker: var(--color-green-700);
		--bg-color-success-darker-light: var(--color-green-800);
		--bg-color-success-darkest: var(--color-green-800);

		--bg-color-error-lightest-lighter: var(--color-orange-300);
		--bg-color-error-lightest-light: var(--color-orange-300);
		--bg-color-error-lightest: var(--color-orange-300);
		--bg-color-error-lighter-dark: var(--color-orange-400);
		--bg-color-error-lighter: var(--color-orange-400);
		--bg-color-error-light: var(--color-orange-500);
		--bg-color-error-base: var(--color-orange-500);
		--bg-color-error-dark: var(--color-orange-600);
		--bg-color-error-darker: var(--color-orange-700);
		--bg-color-error-darker-light: var(--color-orange-800);
		--bg-color-error-darkest: var(--color-orange-900);

		--bg-color-warn-lightest-lighter: var(--color-orange-300);
		--bg-color-warn-lightest-light: var(--color-orange-300);
		--bg-color-warn-lightest: var(--color-orange-400);
		--bg-color-warn-lighter-dark: var(--color-orange-400);
		--bg-color-warn-lighter: var(--color-orange-500);
		--bg-color-warn-light: var(--color-orange-500);
		--bg-color-warn-base: var(--color-orange-600);
		--bg-color-warn-dark: var(--color-orange-700);
		--bg-color-warn-darker: var(--color-orange-800);
		--bg-color-warn-darker-light: var(--color-orange-800);
		--bg-color-warn-darkest: var(--color-orange-900);

	}
}
